<div class="col">
  <div class="card h-100">
    <div class="card-header bg-primary">
      <h4 class="card-title text-center">
        <i class="{{ point['icon'] }}"></i>
        {{ point["name"] }}
      </h4>
    </div>
    <div class="card-body">
      {% markdown %}
        {{ point["desc"] }}
      {% endmarkdown %}
    </div>
  </div>
</div>
