{% extends "base.html.j2" %}
{% block body %}

  <header class="text-center">
    <h1>iseeyou</h1>
    <p class="lead">
      <b>secure</b> and <b>minimalist</b> messenger for building <b>genuine connections</b>
    </p>
  </header>

  <section class="row row-cols-1 row-cols-md-3 g-4">
    {% for point in points %}
      {% include 'card.html.j2' %}
    {% endfor %}
  </section>

  <hr/>
  <h2 class="text-center">how to make friends</h2>
  <section class="row row-cols-1 row-cols-md-4 g-4">
    {% for point in discovery %}
      {% include 'card.html.j2' %}
    {% endfor %}
  </section>

  <hr/>
  <section class="text-center">
    <h2>It's 100% free!</h2>
    <div style="max-width: 50%" class="mx-auto">
      {% markdown %}
        {{ donate_lead }}
      {% endmarkdown %}
    </div>
    {% for btn in donate %}
        <a href="{{ btn['link'] }}" class="btn btn-primary">
          <i class="{{ btn['icon'] }}"></i>
          {{ btn['name'] }}
        </a>
    {% endfor %}
  </section>

  <hr/>
  <h2 class="text-center">team</h2>
  <section class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
    {% for point in team %}
      {% include 'card.html.j2' %}
    {% endfor %}
  </section>

  <hr/>
{% endblock %}
